<!DOCTYPE html>
<html lang="eng">
 <head>

    <meta charset="utf-8"/>
    <title>Certificate</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='certificate.css')}}"
    />

 </head>
    <body>
        <div class="certificate">
            <div class="content">
                <p>This is the certify that <strong>{{name}}</strong> <br/></p>
                    has successfully completed the <strong>{{course}} course from Besant Technologies</strong></p>
                <P>CONGRATULATION!</P>
            </div>
                 
        </div>
    </body>
</html>